fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
asyncpg
pydantic-settings
oracledb
pandas
openpyxl
weasyprint
python-multipart
pytest
pytest-mock
passlib[bcrypt]
bcrypt==3.2.2
PyJWT
python-jose[cryptography]
pytest
pytest-asyncio
httpx
aiosqlite
